// Colors
$color-grey-light: #F4F6F7;
$color-grey-light-2: #DADADA;
$color-grey-dark: #6A7C7B;
$color-grey-dark-2: #B5BFC0;
$color-black: #00211F;
$color-white: #fff;
$color-primary: #00908A;
$color-secondary: #6A7C7B;
$color-info: #8F92A1;

$color-red: #ff1a17;
$color-green: #0d9f65;

// Fonts
$font-family: 'Lato', arial, sans-serif;
$font-weight: normal;
$font-style:  normal;
$font-size: 1.6rem;
$font-line-height: 2.3rem;

$founders-grotesk: 'Founders Grotesk', arial, sans-serif;