@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.field {

  $field: &;

  & + .field {
    margin-top: 12px;
  }

  & + a {
    margin-top: 4px;
  }

  display: block;

  &__label {
    display: block;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $color-grey-dark;
    margin-bottom: 5px;
  }

  input {
    height: 40px;
  }

  textarea {
    resize: vertical;
    max-height: 160px;
    min-height: 78px;
  }

  &__element {
    display: block;
    width: 100%;
    margin: 0;
    padding: 8px 11px;
    border: 1px solid $color-white;
    box-sizing: border-box;
    border-radius: 2px;
    font: inherit;
    line-height: 1;
    color: currentColor;
    min-width: 0;
    animation-name: mui-auto-fill-cancel;
    -webkit-tap-highlight-color: transparent;
    background: $color-white;
    transition: all .3s;
    font-size: 1.4rem;

    @include placeholder {
      color: currentColor;
      opacity: 0.6;
      font: inherit;
      font-weight: normal;
      font-size: 1.4rem;
    }

    @include autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      font: inherit;
      font-size: 1.4rem;
    }
  }

  &_error {
    #{$field} {
      &__element {
        color: $color-red;
        border-color: $color-red;
      }
    }
  }

  &_sucess {
    #{$field} {
      &__element {
        color: $color-green;
        border-color: $color-green;
      }
    }
  }
}