@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-bold-italic.woff") format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-light-italic.woff") format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-medium-italic.woff") format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-regular-italic.woff") format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url("../../fonts/founders-grotesk/founders-grotesk-web-semibold-italic.woff") format('woff');
  font-weight: 600;
  font-style: italic;
}