@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

@import "./styles/utils/reset";
@import "./styles/utils/fonts";

@import "./styles/base/base";


.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-grey-light;
  padding: 48px 5px 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  $content: &;

  @media only screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    background-color: unset;
  }

  &__inner {
    @media only screen and (min-width: 768px) {
      max-width: 600px;
      margin: auto;
      box-shadow: 0 4px 8px 4px rgba($color-black, 0.22);
    }
  }

  &__head {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: $color-black;
    padding: 20px 20px;
    color: #fff;

    @media only screen and (min-width: 768px) {
      padding: 40px 40px;
    }
  }

  &__body {
    background-color: $color-grey-light;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 20px 20px;
    flex: 1;

    @media only screen and (min-width: 768px) {
      padding: 40px 40px;
    }

    p {
      a {
        font-size: inherit;
        font-weight: inherit;
        color: currentColor;
        text-decoration: none;
        position: relative;
        border-bottom: 1px solid currentColor;
      }
    }
  }
}

.logo {
  width: 120px;
  margin: 0 0 15px;

  @media only screen and (min-width: 768px) {
    width: 160px;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

%btn-default {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 11px;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-style: normal;
  border-radius: 2px;
  width: 100%;
  color: $color-white;
  transition: all .3s linear;
  position: relative;

  & > * {
    cursor: inherit;
  }
}

.btn {
  @extend %btn-default;
  background-color: $color-primary;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1;

  &:disabled, &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.form {
  display: block;
  margin-top: 48px;

  input {
    display: block;
    max-width: 100%;
  }

  &__group {
    padding: 0 8px;

    &:not(:last-child){
      margin-bottom: 17px;
    }
  }

  &__buttons {
    & > div {
      &:not(:last-child){
        margin-bottom: 22px;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &__col {
    padding: 0 5px;
    width: 50%;

    &_center {
      text-align: center;
    }
  }

  &__radio-buttons {
    &:not(:last-child){
      margin-bottom: 26px;
    }

    & > .btn-radio {
      &:not(:first-child){
        margin-left: -2px;
      }
    }
  }
}

.link {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: $color-primary;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid currentColor;
  }

  &_inverse {
    border-bottom: 1px solid currentColor;

    &:hover {
      border-color: transparent;
    }
  }
}

.details {
  margin: 10px 0 16px;

  &__outside {
    margin: 0 -6px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }

  &__item {
    width: 50%;
    padding: 0 6px;
  }

  &__info {
    margin-top: 40px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:not(:last-child){
      margin-bottom: 16px;
    }
  }

  &__col {
    padding: 0 10px;
    min-width: 100px;
    text-align: center;
  }
}

.text {
  color: currentColor;
  line-height: 2.2rem;

  &_sm {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 12px;
  }

  &_secondary {
    color: $color-secondary;
  }

  &_primary {
    color: $color-primary;
  }

  &_info {
    color: $color-info;
  }

  &_bold {
    font-weight: 700;
  }

  &_underline {
    border-bottom: 1px solid currentColor;
    text-decoration: none;
    display: inline-block;
  }
  
  &_italic {
    font-style: italic;
  }

  &_center {
    text-align: center;
  }

  &_lg-offset {
    margin: 50px 0;
  }
}

.notifications {
  display: inline-flex;
  flex-direction: column;
  margin: 26px auto;
  position: relative;

  &_center {
    transform: translateX(-50%);
    left: 50%;
  }

  &__item {
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }
}

.actions {
  margin-top: 40px;
}


.message {
  font-size: 1.4rem;
  line-height: 2rem;

  &_error {
    color: $color-red;
  }

  &_success {
    color: $color-green;
  }

  &_info {
    color: $color-info;
  }
}